<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ArtluxSAE" connectionString=""/>
    <!--<add name="ArtluxSAE" connectionString=""/>-->
  </connectionStrings>
  <appSettings>
    <add key="RutaDefault" value="C:\Users\luis_hernandez\Downloads\Proyecto D2D"/>
    <!--<add key="RutaDefault" value="C:\ATEB-NISSAN\ATEBTrad\NIS830R\Data"/>-->
    <add key="RutaDestino" value="C:\Users\luis_hernandez\Downloads\Proyecto D2D\Procesados"/>
    <!--<add key="RutaDestino" value="C:\ATEB-NISSAN\ATEBTrad\NIS830R\Data\Procesados"/>-->
    <add key="NumEmpresaSAE" value="01"/>
    <add key="ArchivoEjecucionNombre" value="RegistroEjecucion-"/>
    <add key="ArchivoEjecucionFormatoFecha" value="yyyyMMdd-HHmmss"/>
    <add key="CorreoSoporte" value="lahgslp@hotmail.com"/>
  </appSettings>
</configuration>