<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
     <add name="ArtluxSAE" connectionString="User=SYSDBA;Password=masterkey;Database=APOLLO:C:\Aspel\Sistemas Aspel\SAE8.00\Empresa01\Datos\SAE80Empre01.FDB;Port=3050;Dialect=3;Charset=NONE;Role=;Connection lifetime=15;Pooling=true;MinPoolSize=0;MaxPoolSize=50;Packet Size=8192;ServerType=0;"/>
    <!--<add name="ArtluxSAE" connectionString=""/>-->
  </connectionStrings>
  <appSettings>
   
    <add key="RutaDefault" value="C:\tmp\Artlux\xmls"/>
    <!--<add key="RutaDefault" value="C:\ATEB-NISSAN\ATEBTrad\NIS830R\Data"/>-->
    
    <add key="RutaDestino" value="C:\tmp\Artlux\xmls\Procesados"/>
    <!--<add key="RutaDestino" value="C:\ATEB-NISSAN\ATEBTrad\NIS830R\Data\Procesados"/>-->
    <add key="NumEmpresaSAE" value="01"/>
    <add key="SeriePedido" value="O"/>
    <add key="ClaveVendedor" value="  510"/><!--Respetar espacios al inicio-->
    <add key="ClaveCliente" value="N0031"/>
    <add key="Formato_IdClaveDocumento" value="00000000"/>
    <add key="DiasDefaultEntrega" value="2"/>
    <add key="ClaveUsuarioBitacora" value="198"/>
    <add key="NombreUsuarioBitacora" value="dgonzalez"/>
    <add key="Almacen" value="21"/>
    <add key="ArchivoEjecucionNombre" value="RegistroEjecucion-"/>
    <add key="ArchivoEjecucionFormatoFecha" value="yyyyMMdd-HHmmss"/>
    <add key="CorreoSoporte" value="lahgslp@hotmail.com"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
