<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
     <add name="ArtluxSAE" connectionString="User ID = sysdba; Password = masterke; Database = localhost:C:\\Program Files (x86)\\Common Files\\Aspel\\Sistemas Aspel\\SAE6.00\\Ejemplos\\EJEMPLOS.FDB; DataSource = localhost; Charset = NONE; "/>
    <!--<add name="ArtluxSAE" connectionString=""/>-->
  </connectionStrings>
  <appSettings>
    
    <add key="RutaDefault" value="C:\Users\Luis\Downloads\tmp\xmls"/>
    <!--<add key="RutaDefault" value="C:\ATEB-NISSAN\ATEBTrad\NIS830R\Data"/>-->
    
    <add key="RutaDestino" value="C:\Users\Luis\Downloads\tmp\xmls\Procesados"/>
    <!--<add key="RutaDestino" value="C:\ATEB-NISSAN\ATEBTrad\NIS830R\Data\Procesados"/>-->
    <add key="NumEmpresaSAE" value="01"/>
    <add key="SeriePedido" value="O"/>
    <add key="ClaveVendedor" value="  510"/><!--Respetar espacios al inicio-->
    <add key="ClaveCliente" value="N0031"/>
    <add key="Formato_IdClaveDocumento" value="00000000"/>
    <add key="DiasDefaultEntrega" value="2"/>
    <add key="ClaveUsuarioBitacora" value="198"/>
    <add key="NombreUsuarioBitacora" value="dgonzalez"/>
    <add key="Almacen" value="21"/>
    <add key="ArchivoEjecucionNombre" value="RegistroEjecucion-"/>
    <add key="ArchivoEjecucionFormatoFecha" value="yyyyMMdd-HHmmss"/>
    <add key="CorreoSoporte" value="lahgslp@hotmail.com"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
